body{
    background-color: #F3F1FF;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}

/* --------------------------------------top player-------------------------------------------------- */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.container{
    background-color: #ffffff;
    width: 870px;
    border-radius: 5px;
    margin-top: 27px;
}
.sectiontitle{
    color: #562EFF;
    font-size: 24px;
    margin-left: 35px;
}

.top_player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.top_player h2{
    
}
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h2{
    padding-left: 5px;
}
hr{
    width: 807px;
    color:#D1D1D1;
    margin: 64px 0px;
}
/* -----------------------------------------Blog section-------------------------------------- */
.topblog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}
.blogimg{
    display: flex;
    justify-content: center;
}
.bloginfo{
    margin: -14px 9px;
}
.bloginfo h3{
    font-size: 14px;
}
.blogimg img{
    width: 177px;
    height: 107px;
}
.blogimg h2{
    width: 165px;
    font-size: 17px;
}/* -----------------------------------------latest section-------------------------------------- */
.latestsec{
    width: 870px;
    background: #ffffff;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.gridcourse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.courseimg {
    width: 252px;
    box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 20%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}
.courseimg img{
    width: 225px;
    margin-top: 11px;
}

.courseinfo h2{
    font-size: 20px;
    margin: 12px 0px;
}
.courseinfo h3 {
    font-size: 14px;
    color: #ED6B4F;
    margin: 6px 0px;
    font-family: 'Roboto';
}
.grey{
    color: gray;
    font-size: 11px;
}
.orange{
    color: orange;
}
.orange{
    font-size: 11px;
}
.courseinfo{
    margin-left: 15px;

}
.enroll{
    display: flex;
    
}
.star{

}
.rating{
 display: flex;
}
.rating h4 {
    margin: 0px -24px 39px 21px;
}
.clock {
    display: flex;
    background-color: #ff653e59;
    width: 49px;
    padding: 8px 19px;
    height: 11px;
    font-size: 13px;
    border-radius: 50px;
    margin-left: 40px;
}